.bg-light {
    background-color: #017bff !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-brand {
    color: white !important;
}

.form-row  {
    margin-left: 5px !important;
    margin-top: 20px !important
}

.alert-warning{
    color: white !important;
    background-color: #017bffc9 !important;
    border-color: #017bffc9 !important
}