{% extends 'base.html' %}

{% block form %}

<form method="POST" action="/count/">
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
       <input type="date" name="begin_date" value="2019-03-01">
      </div>
      <div class="col-auto my-1"> 
       <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Услуга</option>
          {% for id_name in service %}
          <option value="{{ id_name.id }}">{{ id_name.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto my-1">
          <input type="date" name="end_date" value="2019-04-01">
         </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">ЖГИ!!!</button>
      </div>
    </div>
  </form>

{% endblock %}